.body{
    margin: 0;
}

.header {
    background-image: url(bbb.jpg);
    color: white;
    padding: 20px;
    border: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
 
.navbar{
    overflow: hidden;
    background-color: lightslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    width: 33.3%;
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;


}

.navbar a{

    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;

    
}



.navbarr .dropbtn{
    font-size: 20px;
    border: none;
    outline: none;
    color: bisque;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;

}


.navbar a:hover, .navbarr:hover .dropbtn{
    background-color: rgb(69, 79, 88);
    display: flex;
    justify-content:center ;

}


.dropdown-content{
    text-align: center;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0, 0,0.2);
    z-index: 1;
    background-position: center; 
    background-size: cover;

}

.backimg{
    background-image: url(backimg.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.backpng{
    background-image: url(backpng.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.backjpg{
    background-image: url(backjpg.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.column{
    float: left;
    width: 33.3%;
    padding: 10px;
    height:100%;
    backdrop-filter: blur(5px);
}

.column a{
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}


.row::after{
    content: "";
    display: table;
    clear: both;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.column h3{
    background-color: burlywood;
    padding: 10px;
}

*{
    box-sizing: border-box;
}







.main{
    background-image: url(backimg.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}






















footer {
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    background-color: lightslategray;
    color: white;
    margin-top: -4px;
    

  }

  .just{
    display: flex;
    justify-content: space-around;
  }

  .instagram{

    float: left;
    margin: 24px;
    padding: 10px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-image: url(instagram.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: anim 2s linear infinite;
  }
  @keyframes anim {
    from{
        rotate: 0deg;

    }
    to{
        rotate: 360deg;
    }
  }

  .facebook{

    background-image: url(facebook.webp);
    float: left;
    margin: 24px;
    padding: 15px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: anim2 2s linear infinite;
    
  }
 
  
  @keyframes anim2 {
    0%{
        translate: 0px;
        rotate: 0deg;
    }
    25%{
        translate: -70px;
        rotate: 0deg;
    }  
    50%{
        translate: 0px;
        rotate: 0deg;
    } 
    75%{
        translate: 70px;
        rotate: 0deg;
    } 
    100%{
        translate: 0px;
        rotate: 360deg;
  }
}

  .twitter{
    float: left;
    margin: 24px;
    padding: 10px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-image: url(twitter.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: anim3 2s linear infinite;

  }

  @keyframes anim3 {
    from{
        rotate: 0deg;

    }
    to{
        rotate: 360deg;
    }
  }




  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .home{
    font-size: 25px;
    color: white;
    margin-top: 20px;
    margin-left: 850px;
    width: 100px;
    height: 40px;
    text-align: center;
    backdrop-filter: blur(5px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.home:hover{
    backdrop-filter: blur(2000px);
    color:white ;
}